/*PALETA DE COLORES */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #0d6ba6;
  background-color: linear-gradient(148deg, #0d6ba6 0%, #124673 42%, #41aed9 100%);
  box-sizing: border-box; }

/* LAYOUT GRID */
body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat 6, fr; }
  body header {
    grid-column: 1/3;
    grid-row: 1/2; }
  body main {
    grid-column: 1/3;
    grid-row: 2/3; }
  body .bloque {
    grid-column: 1/3;
    grid-row: 2/3; }
  body .paneles {
    grid-column: 1/3;
    grid-row: 3/4; }
  body section {
    grid-column: 1/3;
    grid-row: 3/4; }
  body .portada {
    grid-column: 1/3;
    grid-row: 4/5; }
  body footer {
    grid-column: 1/3;
    grid-row: 5/6; }

/* NAV */
nav {
  background-color: #124673; }
  nav a img {
    width: 130px;
    height: auto; }
    nav a img:hover {
      animation: logo_animado 2s ease-in 0s 3 normal forwards; }
  nav ul li {
    font-weight: 900;
    padding: 0 20px; }
    nav ul li .nav_color {
      font-size: 1.4em; }
  nav .bg-color {
    border: none;
    background-color: #F2CB05; }
    nav .bg-color li a {
      font-weight: 900; }

/* main baner */
main {
  width: 100%;
  height: 450px;
  position: relative;
  display: flex;
  align-items: flex-end; }
  main:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../imagenes/img_backgroud_tacoma.png);
    background-size: cover;
    opacity: 0.5; }
  main .banner {
    position: relative; }
    main .banner h1 {
      text-align: center;
      color: #F2CB05;
      font-weight: 900;
      letter-spacing: 5px; }
    main .banner p {
      text-align: center;
      color: whitesmoke;
      font-size: 1.3em;
      font-weight: bold;
      padding-top: 15px;
      bottom: 30px; }
  @media (min-width: 768px) {
    main {
      display: flex;
      align-items: center;
      justify-content: center; }
      main .banner {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center; } }

/* Seccion "container", carrousel de img */
section {
  margin: auto;
  padding: 20px 0; }

.card {
  width: 300px;
  position: relative;
  box-shadow: 0 30px 30px black;
  height: 400px;
  margin: 10px;
  background-color: black;
  padding: 10px;
  border-radius: 5%;
  margin: auto; }
  .card .card_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    .card .card_img img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 0.5s;
      border-radius: 5%; }
      .card .card_img img:hover {
        opacity: 0.5; }
  .card .card_content {
    position: absolute;
    bottom: 20px;
    left: 10%;
    width: 80%;
    height: 60px;
    transition: 0.5s;
    overflow: hidden;
    text-align: center;
    padding-top: 20px; }
    .card .card_content:hover {
      width: 100%;
      height: 100%;
      bottom: 0;
      left: 0; }
    .card .card_content a {
      text-decoration: none;
      color: #F2CB05; }
    .card .card_content p {
      text-align: center;
      line-height: 30px;
      font-weight: 700;
      color: #124673;
      padding: 0 10px; }
    .card .card_content h3 {
      font-weight: 900;
      font-size: 1.5em; }
    .card .card_content h5 {
      text-align: center;
      font-size: 30px;
      color: #F2CB05; }
  @media (min-width: 768px) {
    .card {
      width: 500px;
      height: 500px; } }
  @media (min-width: 1366px) {
    .card {
      width: 700px;
      height: 550px; } }

/* Seccion "portada" */
.portada h2 {
  text-align: center;
  font-weight: 900;
  color: #F2CB05;
  padding-bottom: 15px; }

.portada .carousel-inner img {
  object-fit: unset; }

/* FORM */
.bloque {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: auto;
  padding-top: 15px; }
  .bloque .form_container {
    background-color: #124673;
    box-shadow: 0px 0px 10px 0px #333 inset;
    width: 100%;
    height: auto;
    padding-left: 15px; }
    .bloque .form_container h3 {
      text-align: center;
      font-weight: 900;
      font-size: 2em; }
    .bloque .form_container .id_form {
      width: 200px; }
    .bloque .form_container .boton_form input {
      height: 40px; }
    .bloque .form_container .boton_form .enviar {
      background-color: #F2CB05; }
  @media (min-width: 768px) {
    .bloque {
      width: 600px; } }

/* MAP */
.seccion_map .map {
  width: 357px; }

.seccion_map h6 {
  font-weight: 900;
  text-align: center;
  font-size: 1.5em;
  padding: 20px 0; }

.seccion_map .mapouter {
  width: 357px; }

.seccion_map .gmap_canvas {
  width: 357px; }

@media (min-width: 768px) {
  .seccion_map .map {
    width: 600px; }
  .seccion_map .mapouter {
    width: 600px; }
  .seccion_map .gmap_canvas {
    width: 600px; } }

/* Tablas de Presupuesto */
.table_content h2 {
  text-align: center;
  font-weight: 900;
  padding-top: 10px; }

.table_content h3 {
  font-weight: 900;
  padding: 10px 0;
  letter-spacing: 5px; }

/* FOOTER */
.pie {
  text-align: center;
  background-color: #124673;
  margin: 0;
  padding: 0;
  position: relative;
  bottom: 0px; }
  .pie .pie_redes h4 {
    font-weight: bold;
    font-size: 1.5em;
    color: whitesmoke;
    padding-top: 20px; }
  .pie .pie_redes a {
    padding: 0 10px; }
    .pie .pie_redes a img:hover {
      animation: logo_animado 2s ease-in 0s 1 normal forwards; }
  .pie .pie_contacto a {
    text-decoration: none; }
    .pie .pie_contacto a h4 {
      padding-top: 20px;
      color: whitesmoke;
      font-weight: 900; }
  .pie .pie_contacto p {
    color: whitesmoke; }

/* ANIMACION */
@keyframes logo_animado {
  0% {
    transform: scale3d(1, 1, 1); }
  30% {
    transform: scale3d(1.25, 0.75, 1); }
  40% {
    transform: scale3d(0.75, 1.25, 1); }
  50% {
    transform: scale3d(1.15, 0.85, 1); }
  65% {
    transform: scale3d(0.95, 1.05, 1); }
  75% {
    transform: scale3d(1.05, 0.95, 1); }
  100% {
    transform: scale3d(1, 1, 1); } }
